

#pic{
    margin-bottom: 20px;
}

.icon{
    width: 50px;
}

#word-wall{
    border: thin solid grey;
}


#info-box{
    border: thin solid grey;
    padding: 10px;
    font-size: 25px;

}

.container-fluid{
    padding: 10px;
}

#slack{
    color: #611f69;
}

#github{
    color: orange;
}

#stack{
    color: #0095ff;
}